dataSources:
  master:
    dataSourceClassName: com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/msen?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: 123456
    # Druid连接池配置
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
    filters: stat,wall

rules:
- !SHARDING
  tables:
    engdict:
      actualDataNodes: master.engdict_cet4,master.engdict_cet6,master.engdict_zk,master.engdict_gk,master.engdict_ky,master.engdict_ielts,master.engdict_toefl,master.engdict_gre
      tableStrategy:
        hint:
          # 使用Hint强制路由算法
          shardingAlgorithmName: tag-hint-algorithm
    user:
      actualDataNodes: master.user
    user_learn_plan:
      actualDataNodes: master.user_learn_plan
    user_word_record:
      actualDataNodes: master.user_word_record
  
  shardingAlgorithms:
    tag-hint-algorithm:
      type: CLASS_BASED
      props:
        strategy: hint
        algorithmClassName: com.mushan.msenbackend.config.TagHintShardingAlgorithm

props:
  sql-show: true